<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>gakusei</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><a href="/" class="button big special">学校</a></h2>
					<p><h3><a href="/">gakusei</a></h3>
				<!--<p>Brought to you by Templated</p>-->
				<ul class="actions">
					<li><a href="/gabarito" class="button special">Cadastrar Gabarito</a></li>
					<li><a href="/cadastro_aluno" class="button special">Cadastrar alunos</a></li>
					<li><a href="/resultado_aluno" class="button special">Resultado por aluno</a></li>
					<li><a href="/aprovados" class="button special">Lista de aprovados</a></li>
				</ul>
			</section>

		<!-- One -->
		
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2><strong>Lista de Aprovados</strong></h2>
						</header>
					<div class="features">
						<div class="content">
							<i class="fa fa-check-circle" style="font-size:150px;color:#33cc33"></i>
						
									
									<ol>
										{{output}}
										
									</ol>
								<h2><strong>Parabéns!!!</strong></h2>
						</div>

						
					</div>
				</div>
			</section> 

		

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Leandro F. Nagata - 2021. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>