<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>gakusei</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><a href="/" class="button big special">学校</a></h2>
					<p><h3><a href="/">gakusei</a></h3>
				<!--<p>Brought to you by Templated</p>-->
				<ul class="actions">
					<li><a href="/gabarito" class="button special">Cadastrar Gabarito</a></li>
					<li><a href="/cadastro_aluno" class="button special">Cadastrar alunos</a></li>
					<li><a href="/resultado_aluno" class="button special">Resultado por aluno</a></li>
					<li><a href="/aprovados" class="button special">Lista de aprovados</a></li>
				</ul>
			</section>

		

		<!-- Two -->
			<section id="two" class="wrapper style special">
				<div class="inner narrow">
					<header class="major">
						<h2><strong>Envio de gabarito por aluno</strong></h2>
					</header>
					<form class="grid-form" method="post" action="#">
						
						<div class="form-control">
						<label><h3><p>Selecione o arquivo do gabarito:</h3></label>
						<h6>(somente arquivos em formato .json)</h6></p>

						<div class="3u$ 12u$(small)">
    					<form action="upload.php" method="post" enctype="multipart/form-data"></div>
    					<p><input type="file" name="fileToUpload" id="fileToUpload"></p>
    					<input type="submit" value="Enviar gabarito do aluno" name="submit" class="button special">
						</form>
						</div>
						
				</div>
			</section>

		
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Leandro F. Nagata - 2021. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>