<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>gakusei</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><a href="/" class="button big special">学校</a></h2>
					<p><h3><a href="/">gakusei</a></h3>
				<!--<p>Brought to you by Templated</p>-->
				<ul class="actions">
					<li><a href="/gabarito" class="button special">Cadastrar Gabarito</a></li>
					<li><a href="/cadastro_aluno" class="button special">Cadastrar alunos</a></li>
					<li><a href="/resultado_aluno" class="button special">Resultado por aluno</a></li>
					<li><a href="/aprovados" class="button special">Lista de aprovados</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style special">
				<div class="inner narrow">
					
							<header>
								<h2><strong>Gabaritos</strong></h2>
								<p>Aqui é possível visualizar todos os gabaritos já cadastrados</p>
							</header>
							<a href="/gabarito/all" class="button special" target="_blank">acesse aqui</a>
							<p></p>
							<p>ou se preferir</p>
							<p></p>
							<label><h3><p><strong>Selecione a disciplina:</strong></h3></label>
										
										<!--<div class="select-wrapper">-->
												<select name="disciplina" id="id">
												<option value="">- Disciplina -</option>
												<option value="0">Matemática</option>
												<option value="1">Português</option>
												<option value="2">Geografia</option>
												<option value="3">História</option>
											</select>
											<p></p>
											<form action="/gabarito/" method="POST">
											<input type="submit" value="Carregar Gabarito" name="submit" class="button special" >
						</form>

					</section>

			<hr class="major" />
			<section id="three" class="wrapper style3">
					<div class="inner narrow">
							<header>
								<h2><strong>Envio de Gabaritos</h2></strong>
								<p>Professor, envie o gabarito da sua avaliação!</p>
							</header>
					<form class="grid-form" method="post" action="#">
						<!--<div class="form-control narrow">
							<label for="disciplina">Disciplina</label>
							<input name="disciplina" id="key" type="text">
						</div>-->
						
						<div class="form-control">
							<p></p>
						<label><h3><p>Selecione o arquivo do gabarito:</h3></label>
						<h6>(somente arquivos em formato .json)</h6></p>
						<div class="3u$ 12u$(small)">
    					<form action="upload.php" method="post" enctype="multipart/form-data"></div>
    					<p><input type="file" name="fileToUpload" id="fileToUpload"></p>
    					<input type="submit" value="Carregar Gabarito" name="submit" class="button alternate">
						</form>
						 </div>
						
				</div>
			</section>

		<!-- Three -->
		

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Leandro F. Nagata - 2021. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>